.search-form {
    padding: 3px;
    border: 1px solid #A8A8A8;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.search-form:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.form-control {
    border: 1px solid #FFFFFF;
}
.btn {
    background-color: #FFFFFF;
    border: none;
    margin-top: 3px;
}