.wrap-amount-books {
    width: 256px;
}
.sum-total {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.VAT {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.total {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item-name {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #A8A8A8;
}
.amount {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #313037;
}
.item-name-total {
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
    color: #313037;
}
.amount-total {
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
    color: #313037;
}
.button-check-out {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #313037;
    color: #FFFFFF;
    cursor: pointer;
}
.check-out {
    width: 100%;
    height: 100%;
    background-color: #313037;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.check-out:hover {
    background-color: gray;
}
.button-check-out:hover {
    background-color: gray;
}