.nav {
    padding: 15px 0 15px;
    border-bottom: 1px solid #E7E7E7;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: auto;
}
.logo {
    font-size: 20px;
    font-weight: 700;
}
.nav-links {
    display: flex;
    flex-direction: row;margin-top: 10px;
}
.container-search {
    max-width: 500px;
}
.wrapper-heart {
    margin: 0 15px 0;
    color: #313037;
    position: relative;
}
.badge {
    color: #FC857F;
    position: absolute;
    top: -10px;
    right: -10px;
}
.wrapper-basket {
    margin: 0 15px 0;
    color: #313037;
}
