.wrapper-card-favorite {
    max-width: 100%;
    border-bottom: 1px solid #E7E7E7;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.wrapper-card-favorite:last-child{
    margin-bottom: 0px;
    border-bottom: 1px solid #FFFFFF;
}
.wrap-img-favorite {
    max-width: 140px;
    background-color: aliceblue;
    overflow: hidden;
    margin-right: 30px;
}
.img-favorite {
    width: 100%;
    height: auto;
}
.card-information-favorite {
    margin-top: 20px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.field-card-left {
    width: 65%;
}
.field-card-right {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-name-favorite {
    margin-bottom: 8px;
    max-width: 600px;
}
.name-book-favorite {
    font-size: 22px;
    line-height: 32px;
    color: #313037;
    font-weight: 700;
}
.card-description-favorite {
    margin-bottom: 24px;
}
.author-and-year-favorite {
    font-size: 14px;
    line-height: 24px;
    color: #A8A8A8;
    font-weight: 400;
}
.card-price-favorite {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 40px;
}
.price-favorite {
    font-weight: 700;
    line-height: 32px;
    font-size: 24px;
    color: #313037;
}
.button-close {
    max-width: 56px;
    max-height: 56px;
    background-color: #FFFFFF;
    border: none;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    cursor: pointer;
}