.footer {
    padding: 20px 0 20px;
    border-top: 1px solid #E7E7E7;
    width: 100%;
    flex-shrink: 0;
}
.footer-container {
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.discreption {
    font-size: 16px;
    color: #A8A8A8;
    line-height: 24px;
}
.discreption-rights {
    font-size: 16px;
    color: #A8A8A8;
    line-height: 24px;
}