.footer {
    padding: 15px 0 15px;
    border-top: 1px solid #E7E7E7;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}
.footer-container {
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.discreption {
    font-size: 16px;
    color: #A8A8A8;
    line-height: 24px;
}
.discreption-rights {
    font-size: 16px;
    color: #A8A8A8;
    line-height: 24px;
}