.wrapper-card {
    padding: 5px;
    width: 350px;
    border: 1px solid #313037;
    background-color: aliceblue;
    margin-bottom: 30px;
}
.wrap-img {
    max-width: 350px;
    overflow: hidden;
}
.img {
    object-fit: contain;
    width: 100%;
    height: auto;
}
.name-book {
    font-size: 18px;
    line-height: 28px;
    color: #313037;
    font-weight: 700;
}
.card-description {
    margin-bottom: 10px;
}
.author-and-year {
    font-size: 14px;
    line-height: 24px;
    color: #A8A8A8;
    font-weight: 400;
}
.price {
    font-size: 18px;
    line-height: 28px;
    color: #313037;
    font-weight: 700;
}